extends layout

block content
  h1= title
  p Welcome to #{title}
  p This application enables One Button to Press for Cisco IP Phone video devices. To get started, schedule a meeting with Zoom with an invite a user that has an email on both your Call Manager and Zoom systems. Enjoy!
